<?xml version="1.0"?>
<config>
    <general>
        <subscriptionid name="360411c7-37ca-4f0a-934f-2cd1c7e3787d" />
        <subscriptionname name="intldev"/>
        <tenantid name="8249e5aa-6ac7-490f-aed6-55b38ee1292c"/>
        <resourcegroup name="coreimagebakery-1-uat-europe-rg" location="North Europe"/>
        <deployment name="Image Creation"/>
        <VM name="az2k16temp"/>
        <Image name="azimg-2k16-datacenter-uat-europe"/>
        <Storage_Account name="coreimagebakerytmpuateu"/>
        <Storage_Account_Tier name="Standard"/>
        <Storage_Account_Replication_Type name="LRS"/>
        <deployment name="AZ Image Deploy"/>
        <automationaccount name="VDI-WS-azengg-auto"/>
        <spname name="sp-core-imagebakery"/>
        <spid name="b1221874-fe0e-4242-a299-ac17f2b49753"/>
        <networkrg name="corenetworking-1-uat-europe-rg"/>
    </general>
    <StorageAccounts>
        <srcStorageAccount_RG_Name>coreimagebakery-1-uat-europe-rg</srcStorageAccount_RG_Name>
        <srcStorageAccountName>coreimagebakery1uateu</srcStorageAccountName>
        <srcFileShare>ref-build</srcFileShare>
    </StorageAccounts>
    
    <terraform>
        <var name="az_engg_rg" value="coreimagebakery-1-uat-europe-rg"/>
        <var name="az_engg_loc" value="NorthEurope"/>

        <var name="AZ_engg_VM1_Name" value="az2k16temp"/>
        <var name="AZ_engg_VM1_UserName" value="Harlequin"/>
        <var name="AZ_engg_VM1_Pass" value="Password123789456"/>

        <var name="AZ_engg_Billing_Tag" value="VDI Windows Server Image engg Environment"/>
        <var name="AZ_engg_CreatedBy_Tag" value="Cloud Team - Jenkins Workflow"/>

        <var name="image_publisher" value="MicrosoftWindowsServer"/>
        <var name="image_offer" value="WindowsServer"/>
        <var name="image_sku" value="2016-Datacenter"/>
        <var name="image_version" value="latest"/>

        <var name="az_engg_sa" value="coreimagebakery1uateu"/>
        <var name="az_engg_sa_account_tier" value="Standard"/>
        <var name="az_engg_sa_account_replication_type" value="LRS"/>

        <var name="remote_resource_group_name" value="coretfstate-1-filuat-northeurope-rg"/>
        <var name="remote_storage_account_name" value="corenetwork2cd1c7e3787d"/>
        <var name="remote_container_name" value="tfstate"/>
        <var name="remote_key_network" value="core-networking-conf-"/>

        <var name="imagetype" value="win2k16"/>
    </terraform>
    <dsc>
        <module name="xNetworking" version="5.3.0.0"/>
        <module name="xSQLServer" version="8.2.0.0"/>
    </dsc>
</config>
